body{
  font-family: 'Montserrat', sans-serif;
}
.jumbotron {
  background: url(../images/flag.png);
  background-size: contain;
  font-weight: bolder;
  text-align: center;
}
#showresults{
  display: none;
  color: beige;
  background-color: royalblue;
  padding: 5px;
  border-radius: 8px;
}
#showerror{
  display: none;
  color: rgb(241, 66, 12);
  border:solid rgb(241, 66, 12);
  padding: 5px;
  border-radius: 8px;
}